*{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Sacramento', cursive;
}
h2,h3{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color: #E4f9F5;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
